In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder , MinMaxScaler, StandardScaler

In [3]:
data = pd.read_csv('data_assignment.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [5]:
data.duplicated().sum()

0

In [7]:
data.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [8]:
data['Item_Weight'].fillna(data['Item_Weight'].mean(),inplace = True)

In [9]:
data['Outlet_Size'].fillna(data['Outlet_Size'].mode()[0],inplace = True)

In [10]:
data['Item_Fat_Content'].replace({'Low Fat':0, 'low fat' : 0, 'LF':0 ,'Regular' :1, 'reg':1}, inplace= True)

In [12]:
data['Outlet_Size'].replace({'Medium':1,'High':2,'Small':0},inplace = True)

In [13]:
data['Outlet_Location_Type'].replace({'Tier 1':1,'Tier 2':2,'Tier 3':3},inplace = True)

In [16]:
for i in data.select_dtypes(include = np.number).columns[:-1]:
    print(i)
    q1 = data[i].quantile(0.25)
    q3 = data[i].quantile(0.75)
    iqr = q3 - q1
    
    low = q1- 1.5*iqr
    hi = q3+ 1.5*iqr
    print("outlier =",data.loc[(data[i]<low) | (data[i]>hi),i])

Item_Weight
outlier = Series([], Name: Item_Weight, dtype: float64)
Item_Fat_Content
outlier = Series([], Name: Item_Fat_Content, dtype: int64)
Item_Visibility
outlier = 49      0.255395
83      0.293418
108     0.278974
174     0.291865
334     0.204700
          ...
8292    0.209163
8345    0.266397
8371    0.214125
8432    0.227261
8509    0.214306
Name: Item_Visibility, Length: 144, dtype: float64
Item_MRP
outlier = Series([], Name: Item_MRP, dtype: float64)
Outlet_Establishment_Year
outlier = Series([], Name: Outlet_Establishment_Year, dtype: int64)
Outlet_Size
outlier = Series([], Name: Outlet_Size, dtype: int64)
Outlet_Location_Type
outlier = Series([], Name: Outlet_Location_Type, dtype: int64)

In [15]:
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,0,0.016047,Dairy,249.8092,OUT049,1999,1,1,Supermarket Type1,3735.1380
1,DRC01,5.920,1,0.019278,Soft Drinks,48.2692,OUT018,2009,1,3,Supermarket Type2,443.4228
2,FDN15,17.500,0,0.016760,Meat,141.6180,OUT049,1999,1,1,Supermarket Type1,2097.2700
3,FDX07,19.200,1,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,1,3,Grocery Store,732.3800
4,NCD19,8.930,0,0.000000,Household,53.8614,OUT013,1987,2,3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,0,0.056783,Snack Foods,214.5218,OUT013,1987,2,3,Supermarket Type1,2778.3834
8519,FDS36,8.380,1,0.046982,Baking Goods,108.1570,OUT045,2002,1,2,Supermarket Type1,549.2850
8520,NCJ29,10.600,0,0.035186,Health and Hygiene,85.1224,OUT035,2004,0,2,Supermarket Type1,1193.1136
8521,FDN46,7.210,1,0.145221,Snack Foods,103.1332,OUT018,2009,1,3,Supermarket Type2,1845.5976
8522,DRG01,14.800,0,0.044878,Soft Drinks,75.4670,OUT046,1997,0,1,Supermarket Type1,765.6700

In [20]:
data['Item_Visibility'].median()

0.053930934

In [22]:
data.loc[(49,83,108,174,334,8292,8345,8371,8432,8509),'Item_Visibility'] = 0.0539309

In [23]:
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,0,0.016047,Dairy,249.8092,OUT049,1999,1,1,Supermarket Type1,3735.1380
1,DRC01,5.920,1,0.019278,Soft Drinks,48.2692,OUT018,2009,1,3,Supermarket Type2,443.4228
2,FDN15,17.500,0,0.016760,Meat,141.6180,OUT049,1999,1,1,Supermarket Type1,2097.2700
3,FDX07,19.200,1,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,1,3,Grocery Store,732.3800
4,NCD19,8.930,0,0.000000,Household,53.8614,OUT013,1987,2,3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,0,0.056783,Snack Foods,214.5218,OUT013,1987,2,3,Supermarket Type1,2778.3834
8519,FDS36,8.380,1,0.046982,Baking Goods,108.1570,OUT045,2002,1,2,Supermarket Type1,549.2850
8520,NCJ29,10.600,0,0.035186,Health and Hygiene,85.1224,OUT035,2004,0,2,Supermarket Type1,1193.1136
8521,FDN46,7.210,1,0.145221,Snack Foods,103.1332,OUT018,2009,1,3,Supermarket Type2,1845.5976
8522,DRG01,14.800,0,0.044878,Soft Drinks,75.4670,OUT046,1997,0,1,Supermarket Type1,765.6700

In [32]:
data_num = data.select_dtypes(include =np.number)

In [33]:
data_num

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Item_Outlet_Sales
0,9.300,0,0.016047,249.8092,24,1,1,3735.1380
1,5.920,1,0.019278,48.2692,14,1,3,443.4228
2,17.500,0,0.016760,141.6180,24,1,1,2097.2700
3,19.200,1,0.000000,182.0950,25,1,3,732.3800
4,8.930,0,0.000000,53.8614,36,2,3,994.7052
...,...,...,...,...,...,...,...,...
8518,6.865,0,0.056783,214.5218,36,2,3,2778.3834
8519,8.380,1,0.046982,108.1570,21,1,2,549.2850
8520,10.600,0,0.035186,85.1224,19,0,2,1193.1136
8521,7.210,1,0.145221,103.1332,14,1,3,1845.5976
8522,14.800,0,0.044878,75.4670,26,0,1,765.6700

In [27]:
data_Item_Identifier = pd.get_dummies(data['Item_Identifier'])

In [28]:
data_Item_Type = pd.get_dummies(data['Item_Type'])

In [29]:
data_Outlet_Identifier = pd.get_dummies(data['Outlet_Identifier'])

In [30]:
data['Outlet_Establishment_Year'] = 2023-data['Outlet_Establishment_Year']

In [34]:
data_num

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Item_Outlet_Sales
0,9.300,0,0.016047,249.8092,24,1,1,3735.1380
1,5.920,1,0.019278,48.2692,14,1,3,443.4228
2,17.500,0,0.016760,141.6180,24,1,1,2097.2700
3,19.200,1,0.000000,182.0950,25,1,3,732.3800
4,8.930,0,0.000000,53.8614,36,2,3,994.7052
...,...,...,...,...,...,...,...,...
8518,6.865,0,0.056783,214.5218,36,2,3,2778.3834
8519,8.380,1,0.046982,108.1570,21,1,2,549.2850
8520,10.600,0,0.035186,85.1224,19,0,2,1193.1136
8521,7.210,1,0.145221,103.1332,14,1,3,1845.5976
8522,14.800,0,0.044878,75.4670,26,0,1,765.6700

In [37]:
scaler = StandardScaler()
data_num_scaled = pd.DataFrame(scaler.fit_transform(data_num),columns = data_num.columns)

In [38]:
data_num_scaled

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Item_Outlet_Sales
0,-0.841872,-0.738147,-0.973529,1.747454,-0.139541,0.284581,-1.369334,0.910601
1,-1.641706,1.354743,-0.910445,-1.489023,-1.334103,0.284581,1.091569,-1.018440
2,1.098554,-0.738147,-0.959612,0.010040,-0.139541,0.284581,-1.369334,-0.049238
3,1.500838,1.354743,-1.286858,0.660050,-0.020085,0.284581,1.091569,-0.849103
4,-0.929428,-0.738147,-1.286858,-1.399220,1.293934,1.950437,1.091569,-0.695373
...,...,...,...,...,...,...,...,...
8518,-1.418084,-0.738147,-0.178145,1.180783,1.293934,1.950437,1.091569,0.349915
8519,-1.059578,1.354743,-0.369512,-0.527301,-0.497909,0.284581,-0.138882,-0.956402
8520,-0.534243,-0.738147,-0.599835,-0.897208,-0.736822,-1.381274,-0.138882,-0.579100
8521,-1.336444,1.354743,1.548619,-0.607977,-1.334103,0.284581,1.091569,-0.196725
8522,0.459634,-0.738147,-0.410596,-1.052261,0.099372,-1.381274,-1.369334,-0.829594

In [39]:
data_num_scaled = data_num_scaled.reset_index().drop(columns = 'index')
data_Item_Identifier = data_Item_Identifier.reset_index().drop(columns = 'index')
data_Item_Type = data_Item_Type.reset_index().drop(columns = 'index')
data_Outlet_Identifier= data_Outlet_Identifier.reset_index().drop(columns = 'index')

In [40]:
data_final = pd.concat([data_num_scaled, data_Item_Identifier, data_Item_Type,data_Outlet_Identifier], axis = 1)

In [41]:
data_final

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Item_Outlet_Sales,DRA12,DRA24,...,OUT010,OUT013,OUT017,OUT018,OUT019,OUT027,OUT035,OUT045,OUT046,OUT049
0,-0.841872,-0.738147,-0.973529,1.747454,-0.139541,0.284581,-1.369334,0.910601,0,0,...,0,0,0,0,0,0,0,0,0,1
1,-1.641706,1.354743,-0.910445,-1.489023,-1.334103,0.284581,1.091569,-1.018440,0,0,...,0,0,0,1,0,0,0,0,0,0
2,1.098554,-0.738147,-0.959612,0.010040,-0.139541,0.284581,-1.369334,-0.049238,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1.500838,1.354743,-1.286858,0.660050,-0.020085,0.284581,1.091569,-0.849103,0,0,...,1,0,0,0,0,0,0,0,0,0
4,-0.929428,-0.738147,-1.286858,-1.399220,1.293934,1.950437,1.091569,-0.695373,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,-1.418084,-0.738147,-0.178145,1.180783,1.293934,1.950437,1.091569,0.349915,0,0,...,0,1,0,0,0,0,0,0,0,0
8519,-1.059578,1.354743,-0.369512,-0.527301,-0.497909,0.284581,-0.138882,-0.956402,0,0,...,0,0,0,0,0,0,0,1,0,0
8520,-0.534243,-0.738147,-0.599835,-0.897208,-0.736822,-1.381274,-0.138882,-0.579100,0,0,...,0,0,0,0,0,0,1,0,0,0
8521,-1.336444,1.354743,1.548619,-0.607977,-1.334103,0.284581,1.091569,-0.196725,0,0,...,0,0,0,1,0,0,0,0,0,0
8522,0.459634,-0.738147,-0.410596,-1.052261,0.099372,-1.381274,-1.369334,-0.829594,0,0,...,0,0,0,0,0,0,0,0,1,0